{% load minicms_tags %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />

        {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% endif %}
        {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}

        <title>{{ page.title }}</title>
    </head>

    <body>

        <h1>Breadcrumbs</h1>
        <p>{% minicms_breadcrumbs %}</p>

        <h1>Menu</h1>
        <p>{% minicms_menu %}</p>

        <h1>Content</h1>
        {{ page.content }}

    </body>
</html>
